
@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

Esta es la página de inicio.
<ul>

    <li><a href="@Url.Action("Ingresar", "Vehiculo")" class="elements"><span>Ingresar Vehiculos</span></a></li>
</ul>
